h2 {
    text-align: center;
    color:#111;
}
/* Container */
.todo-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 6px;
}
/* Input area */
.todo-input {
    display: flex;
    gap: 10px;
}
#new-task {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
#add-btn {
    padding: 10px 15px;
    background: #008000;
    color: white;
    border: none;
    border-radius: 4px;
}
#add-btn:hover {
    background: #006400;
}
.icon-move:hover {
    animation: simpleMovement 1s infinite;
}
.icon-move:active {
    pointer-events: none;
}
/* List */
#todo-list li {
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
#todo-list li.completed {
    text-decoration: line-through;
    color: #666;
}
.user-text {
    flex: 1;
    align-self: center;
    text-align: center;
}
/*----------------
    Animations
----------------*/
@keyframes simpleMovement {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}