/*
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
*/

h2 {
    text-align: center;
    color:#111;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #ccc;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox img {
    max-width: 90%;
    border: 4px solid white;
}

.lightbox .close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

figcaption {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
    color: #555;
}

/* Responsive */
@media (max-width: 868px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}