/* ---------------------------
   GLOBAL BASE STYLING
---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spline Sans", sans-serif;
}
body {
    background: #ffffff;
    color: #111;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-title {
    text-align: center;
    padding: 2rem;
}
/* ---------------------------
   HEADER
---------------------------- */
header {
    background: #008000;
    color: white;
    padding: 15px 0;
    border-bottom: 4px solid #d40000;
}
header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-weight: 600;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
nav a:hover {
    color: #dcdcdc;
    text-decoration: underline;
}
body.index-body .index-link {
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
body.benefits-body .benefits-link {
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
body.list-body .list-link {
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
body.words-body .words-link {
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
body.media-body .media-link {
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
.header-title:hover {
    font-size: 3rem;
    color: #d40000;
    text-shadow: #000 -1px 1px 0px;
}
/*-------------------------
    Mobile menu toggle 
--------------------------*/
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
}
/* ---------------------------
   FOOTER
---------------------------- */
footer {
    padding: 15px 0;
    background: #111;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.footer-social-media {
    color: #fff;
    font-size: 1.5rem;
}
.social-media-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}
/* ---------------------------
   MAIN CONTENT
---------------------------- */
main {
    width: 100%;
    margin: 0px auto;
    flex: 1;
}
h1, h2, h3 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 15px;
}
.center {
    text-align: center;
}
/* ---------------------------
   INDEX PAGE GLOBAL ELEMENTS
---------------------------- */
.photo {
    width: 60%;
    border-radius: 6px;
}
#landing-text {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 1rem;
}
#landing-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f2f2f2;
}
.landing-list {
    padding-bottom: 2rem;
}
/* ---------------------------
   Button Icons
---------------------------- */
#font-a {
  pointer-events: none;
}
#font-a:hover {
  pointer-events: none;
}
.button-size {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;  
}
/* -----------------
   ANIMATIONS
----------------- */
#square-collection {
    display: none;
}
.square {
    width: 40px;
    height: 40px;
    border-radius: 10px; /*Could be 20 or 40px*/
    background-color: #008000;
    margin: 4px auto;
    animation: moveSquare 3s infinite ease-in;
}
.inner-square {
    width: 20px;
    height: 20px;
    border-radius: 5px; /*Could be 10 or 20px*/
    background-color: #d40000; /* Red */
    position: relative;
    top: 10px;
    left: 10px;
    animation: miniSquare 3s infinite ease-in;
}
@keyframes moveSquare {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        background-color: #008000;
    }
    25% {
        transform: translateX(25px) translateY(0px) rotate(90deg);
        
    }
    50% {
        transform: translateX(0px) translateY(0px) rotate(180deg);
        background-color: #d40000;
    }
    75% {
        transform: translateX(-25px) translateY(0px) rotate(270deg);
        
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
        background-color: #008000;
    }
}
@keyframes miniSquare {
    0% {
        transform: rotate(0deg);
        background-color: #d40000;
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
        background-color: #008000;
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
        background-color: #d40000;
    }
}
/*-----------------------
    MEDIA CONTROLS
-----------------------*/
@media (max-width: 868px) {
    header .container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  /* show the hamburger */
  .menu-toggle {
    display: block;
  }
  /* hide nav by default */
  nav {
    width: 100%;
    display: none;
  }
  /* when active (menu open) */
  nav.active {
    display: block;
    margin-top: 1rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .photo {
    width: 100%;
  }
}
/*Remove animation at smaller screens*/
@media (min-width: 1800px) {
    #square-collection {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 0px;
    }
}