.phrase-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.phrase-item {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 6px;
    border-left: 4px solid #008000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase {
    background: #008000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 25%;
    font-size: 1.2rem;
}

.phrase:hover {
    background: #006400;
}

.translation {
    margin-top: 10px;
    display: none;
    color: #333;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.1rem;
}

.play-audio {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #008000;
    padding-top: 2rem;
    font-size: 2rem;
}

@media (max-width: 868px){
    .phrase {
        width: fit-content;
    }
}